* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: semplicitapro;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Orbitron:wght@400;900&family=Yatra+One&display=swap");

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(78, 134, 197, 0.74);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: royalblue;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

@font-face {
  font-family: "semplicitapro";
  src: url(../src/fonts/SemplicitaPro-Bold.otf) format("opentype");
}
@font-face {
  font-family: "semplicitapro";
  src: url(../src//fonts/SemplicitaPro.otf) format("opentype");
}
